.seller-performance {
  padding: 0 60px;
  margin: 20px 0;
  border: 2px solid #b0c1d8;
  border-radius: 10px;
  transition: 
    transform 0.2s ease,
    box-shadow 0.3s ease;
}

.seller-performance:hover {
  transform: translateY(-2px); /* levanta um pouquinho */
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.seller-performance_person {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seller-performance_person-comission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  background-color: #d7ffec;
  color: #044e39;
}

.seller-performance_person-sales-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  transition: max-height 0.45s ease, opacity 0.3s ease;
}

.seller_performance-comission {
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  border: 1px solid black;
}