.sales-list__sale {
  padding: 0 25px;
  width: auto;
  height: 85px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid #94a3b8;
  border-radius: 8px;
}

.sales-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sales-info__text {
  margin: 0;
}

.sales-list__sale-commission {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sales-list__sale-commission-percentage {
  color: #2563eb;
}

.sales-list__sale-comission-value {
  color: #059669;
}

.sales-list__sale-no-commission {
  color: rgb(255, 78, 78);
}

