body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.App {
  padding: 20px 100px;
}

.App__title {
  font-size: 50px;
  text-align: center;
  color: #059669;
}

.App__subtitle {
  margin: 0;
  font-size: 35px;
}

.App__text {
  color: rgb(107, 107, 107);
}